p.blog {
	color: black;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

div.code {
	font-size: 12px;
	font-family: Calibri;
	background-color: #D7C4CA;
	color: #C7254E;
	line-height: 1em;
	padding: 8px;
	border-radius:4px;
}

.panel {
	background-color: #AAA;
	padding: 20px;
	color: black;
}

.img-responsive {
	border-radius: 5px;
	border: thin white solid;
}

li .img-responsive {
	border: thin black solid;
}

.list-group-item {
	background-color: #DDD;
	border: 1px solid #BBB
}