body {
	overflow-x: hidden;
}
/* overflows is to allow background to move and to prevent modal from making scrollbar disappear */
.nopadding { padding: 0px !important; }
.lowhpadding { padding: 0 2px 0 2px !important; }
.lowvpadding { padding: 2px 0 2px 0 !important; }
.modal { overflow-y: auto; }
.modal-open { overflow: auto; }
.modal-open[style] { padding-right: 0px !important; }
.modal-body { padding: 0px; }
.modal-header { background-color: black; }

.caret.caret-reversed {
    transform: rotate(180deg);
}

.btn .glyphicon { top: 2px; }

.tooltip-inner {
	background-color: rgba(255,255,255,0.95);
	color: black;
	white-space:pre-wrap; /* enable \n to break for tooltip */
}
.tooltip.top .tooltip-arrow{
	border-top-color: rgba(255,255,255,0.95);
}

.dropdown-forms {
	position: relative;
	padding: 5px;
	width: 300px;
}

.lowvpadding .checkbox, .lowvpadding .radio {
    margin-top: 0px;
    margin-bottom: 0px;
}

.carousel-caption-content{
	position: relative;
	width: 100%;
	height: 100%;
}
.carousel-caption-content a{
	z-index: 101; /*More than carousel-control*/
}
.carousel .panel{
	padding: 10px;
	overflow-y: auto;
	height: 50%;
	width: 100%;
	text-align: left;
	text-shadow: none;
	
	color: white;
	background-color: transparent;
	border-color: white;
	
	top: 50%;
	margin: 0px;
}
.carousel .panel-hidden{
	visibility: hidden;
}
.carousel p{
	margin-bottom: 5px
}
.carousel li{
	line-height: 1em;
}
.carousel h1{
	margin-top: 10px;
	margin-bottom: 5px
}
.carousel .item img{
	border:1px solid white;
	border-radius: 4px;
	width: 100%;
	position: relative;
}
.carousel-control {
	opacity: 0;
	width: 40px;
	z-index: 100; /* above other div */
}
.carousel-caption {
	background-color: transparent;
	text-align: left;
	position: relative;
	
	left: 0px;
	right: auto;
	height: 100%;
	padding-top: 3em;
}
@media(min-width:1200px){
	.carousel .item img{
		width: 60%;
	}
	.carousel-caption {
		background-color: transparent;
		width: 40%;
		position: absolute;
		text-align: right;
		left: auto;
		right: 0px;
		bottom: auto;
		top: 0px;
		padding: 0px 40px 0px 10px; /* for carousel controls */
	}
	.carousel .panel{
		position: absolute;
	}
}
.carousel-indicators {
	position: relative;
	margin-bottom: 0px;
}
	.carousel-indicators li {
		border-color: #666666;
	}
		.carousel-indicators li{
			width: 14px;
			height: 14px;
		}
		.carousel-indicators .active>li{
			background-color: transparent;
			border-color: white;
			border-width: 3px;
			width: 16px;
			height: 16px;
			margin: 0px;
		}
		.carousel-indicators a.active{
			background-color: transparent;
		}

.content {
	padding: 80px 0 20px 0;
	background-color:rgba(0,0,0,0.2);
	border: none;
	color: white;
}
.content-alt {
	padding: 80px 0 20px 0;
	background-color:rgba(255,255,255,0.2);
	border: none;
	color: white;
}

#myTimeline {
	padding-bottom: 20px;
}
.gt-timeline {
	text-shadow: none;
}
	.gt-timeline div.e-message {
		min-width: 15%;
		border-radius: 3px;
		z-index: 200;
		background-color: #666666;
	}
	.gt-timeline div.e-message .msg:hover{
		border-radius: 3px;
		background-color: #aaaaaa;
	}
	.gt-timeline div .month {
		font-size: xx-small;
	}
	.gt-timeline div.odd-month {
		display: none; /*Hide Feb, Apr, etc*/
	}
	.gt-timeline div.month {
		display: none; /*Hide All Months*/
	}
	.gt-timeline div .year {
		top: -20px; /*Center the height of year when .month is hidden*/
	}

#navbar-sort.highlight {
	animation:blink 600ms 1;
	-webkit-animation: blink 600ms 1;
}
@keyframes blink {
    from { background-color: white; }
}

p.lead {
	margin-bottom: 5px;
}
p.right {
	text-align: right;
}
